doctype html
html
  head
    title Çevrimiçi Not Defteri
    link(rel="stylesheet", href="/css/styles.css")
  body
    //- Başlık
    h1 Çevrimiçi Not Defteri

    //- Navigasyon Menüsü
    div.nav-menu
      a(href='/notes') Notları Görüntüle
      a(href='/profile') Profil Sayfası
      a(href='/auth/logout') Çıkış Yap