/* Genel sayfa stilleri */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* elemanlar dikey hizalandı*/
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    justify-content: flex-start; /* elemanlar üstten hizalandı*/
}

h1 {
    color: #333;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

/* Form stilleri */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="password"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    height: 100px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Hata mesajı stilleri */
p[style="color: red;"] {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Not listesi stilleri */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

li h2 {
    margin: 0 0 10px;
    font-size: 1.25em;
    color: #333;
}

li p {
    margin: 0 0 10px;
    color: #666;
}

li a {
    margin-right: 10px;
    color: #007bff;
}

li a:hover {
    text-decoration: underline;
}
  
  /* Profil formu stilleri */
  .profile-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-bottom: 20px;
  }
  
  .profile-form div {
    margin-bottom: 10px;
  }
  
  .profile-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .profile-form input[type="text"],
  .profile-form input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .profile-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .profile-form button:hover {
    background-color: #0056b3;
  }

  /* Menü stilleri */
.nav-menu {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.nav-menu a {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nav-menu a:hover {
    background-color: #0056b3;
}

  
